APP_NAME=TheKost
APP_ENV=local
APP_KEY=base64:18fMLbMep01iBCurkip9stHj58x7BCJCNY+RjhdqYDE=
APP_DEBUG=true
APP_TIMEZONE=Asia/Jakarta
APP_URL=https://thekost.online

APP_LOCALE=id
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=id_ID

APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=u463545798_thekost
DB_USERNAME=u463545798_thekost
DB_PASSWORD=v~|77]Hl$E0F

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_USERNAME=id.thekost@gmail.com
MAIL_PASSWORD=cwuuspdqykkfykte
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS="id.thekost@gmail.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false
VITE_APP_NAME="${APP_NAME}"


XENDIT_SECRET_KEY_DEV=xnd_development_OstRR6M22svfYc7fRJKEm7TqzwhPcRXB6meupyruykFYzRIcDMLhcGZwPFTPoeJ
XENDIT_CALLBACK_TOKEN_DEV=AtHjsDqwPij65mthHX2s7dU2ipr1rjIWYHXq1MXZ47POsO8x

XENDIT_SECRET_KEY_PROD=xnd_production_SI9ZCXxEv862cpyBMm1MLlVQG4yb4zqtmcvNpfVcmM8q4cqloIG2s4gk5y3rKG
XENDIT_CALLBACK_TOKEN_PROD=TtDRkWQsu85kpfXUpL14cnikhc0IgMCPoucsBEG82wgVBaVN